*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #454545;
    min-width: fit-content;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.eot');
    src: url('../font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('../font/Roboto/Roboto-Regular.ttf') format('truetype'),
         url('../font/Roboto/Roboto-Regular.woff') format('woff'),
         url('../font/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../font/Roboto/Roboto-Bold.eot');
    src: url('../font/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto/Roboto-Bold.ttf') format('truetype'),
        url('../font/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto';
    src: url('../font/Noto_Serif/NotoSerif-Bold.eot');
    src: url('../font/Noto_Serif/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Noto_Serif/NotoSerif-Bold.svg#NotoSerif-Bold') format('svg'),
         url('../font/Noto_Serif/NotoSerif-Bold.ttf') format('truetype'),
         url('../font/Noto_Serif/NotoSerif-Bold.woff') format('woff'),
         url('../font/Noto_Serif/NotoSerif-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MW';
    src: url('../font/Merriweather/Merriweather-Bold.eot');
    src: url('../font/Merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Merriweather/Merriweather-Bold.svg#Merriweather-Bold') format('svg'),
         url('../font/Merriweather/Merriweather-Bold.ttf') format('truetype'),
         url('../font/Merriweather/Merriweather-Bold.woff') format('woff'),
         url('../font/Merriweather/Merriweather-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF';
    src: url('../font/SF_Pro/SFProDisplay-Regular.eot');
    src: url('../font/SF_Pro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/SF_Pro/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg'),
         url('../font/SF_Pro/SFProDisplay-Regular.ttf') format('truetype'),
         url('../font/SF_Pro/SFProDisplay-Regular.woff') format('woff'),
         url('../font/SF_Pro/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFBold';
    src: url('../font/SF_Pro/SFProDisplay-Semibold.eot');
    src: url('../font/SF_Pro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/SF_Pro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../font/SF_Pro/SFProDisplay-Semibold.woff') format('woff'),
        url('../font/SF_Pro/SFProDisplay-Semibold.ttf') format('truetype'),
        url('../font/SF_Pro/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.container{
    margin: 0 auto;
    width: 1040px;
}
.header__top{
    padding: 35px 0px;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
d-block{
    display: block;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font: 500 14px/19px Roboto;
    display: block;
}
b{
    font-family: 'RobotoBold';
}
.header__tags{
    margin-right: 43px;
}
.header__tags li a{
    background-color: #e6e6e6;
    padding: 6px 12px;
    border-radius: 16px;
    color: #454545;
    margin-left: 12px;
    font: 500 14px/19px RobotoBold;
}
.vertical-align-middle{
    vertical-align: middle;
}
.align-item-center{
    align-items: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.header__navbar{
    background-color: #095aaa;
    color: #e6e6e6;
}
.header__navbar-toggler {
    position: relative;
}
.menu-toggler{
    display: block;
}
.menu-close{
    display: none;
}
.menu-toggler.is-disabled{
    display: none;
}
.menu-close.is-active{
    display: block;
}
#menu__dropdown{
    display: none;
    z-index: -1;
    position: absolute;
    width: 1040px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}
#menu__dropdown.is-active{
    display: block;
    z-index: 2;
    background-color: #FFFFFF;
}
.header__menu-dropdown{
    display: block;
    padding: 20px;
    box-shadow: 0px 4px 12px 0px #c0c0c0;
}
.header__menu-category{
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
}
.dropdown-category{
    font: 400 14px/19px Roboto;
    color: #147ade;
}
.header__menu-list-title a{
    font: 400 12px/18px SF;
    color: #77787a;
    margin-bottom: 6px;
}
.header__menu-list{
    width: 130px;
}
.dropdown-category{
    margin-bottom: 8px;
}
.header__option{
    margin-top: 16px;
}
.header__option-a{
    margin-right: 60px;
    color: #454545;
}
.header__option-img{
    margin-right: 8px;
}
.main__navbar-menu a{
    padding: 10px 0px;
    color: #e6e6e6;
    display: inline-block;
    padding: 10px 12px;
}
.main__navbar-menu a:hover{
    color: white;
    background-color: #0b4888;
}
.main__navlink--active{
    background-color: #0b4888;
    color: white;
}
.main__navlink{
    color: white;
}
.main__navlink, .main__navlink--active{
    padding: 10px 12px;
}
.main__navbar-home{
    margin-left: 8px;
}
.main__top-news{
    padding: 24px 0px 34px 0px;
}
.main__news-category, .main__news-category-list{
    font: 500 11px/16px RobotoBold;
    letter-spacing: calc(11px * 0.03);
    color: #147ade;
    text-transform: uppercase;
}
.main__news-category{
    line-height: 2;
}
.main__news-category-list{
    line-height: 3;
}
.main__news-img-infographic{
    margin-right: 5px;
}
.main__highlight-news{
    width: 467px;
    padding-right: 15px;
    border-right: 1px solid #e6e6e6;
}
.main__news-left-rightcorner{
    width: 243px;
    padding-left: 15px;
}
.main__news-rightcorner-1{
    font: 500 18px/24px RobotoBold;
    color: #252525;
    padding-bottom: 12px;
}
.main__aside-leftcorner{
    padding-bottom: 30px;
}
.main__news-rightcorner-2{
    font: 500 16px/20px RobotoBold;
    color: #555555;
    padding: 16px 0px;
    border-top: 1px solid #e6e6e6;
}
.main__hl-h2{
    margin-bottom: 13px;
}
.main__highlight-news-title{
    font: 700 24px/32px Noto;
    color: #121212;
}
.main__news-content-des{
    font: 400 14px Roboto;
    line-height: 1.5;
    color: #454545;
}
.main__dots-list-item{
    border-bottom: 1px dotted #bdbdbd;
    margin-bottom: 1px;
}
.main__aside-layout{
    padding: 5px 0px 20px 0px;
}
.main__aside-layout-left{
    width: 710px;
    margin-bottom: 30px;
}
.main__aside-layout-right{
    width: 300px;
    margin: 18px 0px 30px 30px;
    background-color: #e6e6e6;
}
.active{
    border-bottom: 3px solid #147ade;
    color: #147ade !important;
}
.color-red{
    color: #f35a57;
}
.main__category-title-nav li:not(:last-child) a{
    border-right: 1px solid #e6e6e6;
}
.main__category-title-nav li a{
    padding: 0px 12px;
    color: #454545;
    font: 400 11px/16px Roboto;
}
.main__category-title-wrap{
    padding: 12px 0px;
    justify-content: space-between;
}
.main__category-title-wrap .main__category-title-name{
    margin: 0;
}
.main__category-title-name{
    font: 500 18px/25px RobotoBold;
    color: #147ade;
}
.main__news-listing-item{
    padding: 24px 0px;
    border-bottom: 1px solid #e6e6e6;
}
.main__news-item-content{
margin-left: 20px;
}
.main__news-item-title{
    font: 500 22px/28px RobotoBold;
    color: #121212;
}
.main__news-item-detail{
    font: 400 14px Roboto;
    line-height: 1.5;
}
.main__viewmore-btn{
    width: 107px;
    margin: 24px auto 0px auto;
    padding: 7px 13px;
    border-radius: 4px;
    font: 500 14px/19px Roboto;
    color: white;
    background-color: #147ade;
}
hr{
    display: block;
    height: 1px;
    background-color: #0d73d8;
    border: none;
}
.footer, .footer a{
    background-color: #095aaa;
    color: white;
}
.footer__main-flex{
    padding: 30px 0;
}
.footer__logo{
    width: 180px;
    padding-left: 0;
}
.footer__contact{
    margin-bottom: 14px;
    font: 700 16px/22px MW;
}
.footer__col-content:not(:first-child){
    padding: 0px 13px;
    width: 430px;
}
.footer__contact-info{
    margin-bottom: 2px;
    font: 400 13px/24px Roboto;
}