<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Doanh Nghiệp</title>
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-flex d-flex justify-content-between">
                    <h1 class="header__logo">
                        <a href="index.html"><img src="../image/header_logo.png" alt="logo" title="LOGO HERE"></a>
                    </h1>
                    <ul class="header__tags d-flex align-item-center">
                        <li><img src="../image/vector.png" alt="thunder"></li>
                        <li><a href="#" title="# Biểu tình lan ra ở Mỹ"># Biểu tình lan ra ở Mỹ</a></li>
                        <li><a href="#" title="# Nhân sự, Đại hội Đảng các cấp"># Nhân sự, Đại hội Đảng các cấp</a></li>
                        <li><a href="#" title="# Dịch Covid19"># Dịch Covid19</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__navbar">
            <div class="container">
                <div class="header__navbar-flex d-flex justify-content-between align-item-center">
                    <div class="main__navbar-menu d-flex text-uppercase">
                        <ul class="d-flex">
                            <li>
                                <a href="#" class="main__navlink--active" title="Trang chủ">
                                    <span class="main__navbar--icon">
                                        <img src="../image/home.png" alt="home">
                                    </span>
                                    <span class="main__navbar-home">Trang chủ</span>
                                </a>
                            </li>
                            <li><a href="#" title="Sự kiện">Sự kiện</a></li>
                            <li><a href="#" title="Doanh nghiệp">Doanh nghiệp</a></li>
                            <li><a href="#" title="Tiếp thị">Tiếp thị</a></li>
                            <li><a href="#" title="Kinh tế">Kinh tế</a></li>
                            <li><a href="#" title="Xã hội">Xã hội</a></li>
                            <li><a href="#" title="Pháp luật">Pháp luật</a></li>
                            <li><a href="#" title="Quốc tế">Quốc tế</a></li>
                            <li><a href="#" title="Video">Video</a></li>
                        </ul>
                        <div class="header__navbar-search">
                            <a href=""><img src="../image/search.png" alt="search" title="Tìm kiếm"></a>
                        </div>
                    </div>
                    <div class="header__navbar-toggler">
                        <img src="../image/toggler.png" alt="toggler" title="Danh mục">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main -->
    <div class="main">
        <div class="container">
            div.
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="main__navbar-menu d-flex text-uppercase">
                <ul class="d-flex">
                    <li>
                        <a href="#" class="main__navlink--active">
                            <span class="main__navbar--icon">
                                <img src="../image/home.png" alt="home">
                            </span>
                            <span class="main__navbar-home">Trang chủ</span>
                        </a>
                    </li>
                    <li><a href="#">Sự kiện</a></li>
                    <li><a href="#">Doanh nghiệp</a></li>
                    <li><a href="#">Tiếp thị</a></li>
                    <li><a href="#">Kinh tế</a></li>
                    <li><a href="#">Xã hội</a></li>
                    <li><a href="#">Pháp luật</a></li>
                    <li><a href="#">Quốc tế</a></li>
                    <li><a href="#">Video</a></li>
                </ul>
                <div class="header__navbar-search">
                    <a href=""><img src="../image/search.png" alt="search"></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer__page"></div>
        <div class="footer__main-flex">
            <div class="container d-flex">
                <div class="footer__logo footer__col-content">
                    <img src="../image/footer_logo.png" alt="Logo">
                </div>
                <div class="footer__col-content">
                    <h3 class="footer__contact">
                        Logo Here Newspaper
                    </h3>
                    <p class="footer__contact-info">
                        <b>Địa chỉ: </b>85 Vũ Trọng Phụng, Thanh Xuân, Hà Nội
                    </p>
                    <p class="footer__contact-info">
                        <b>Hotline: </b>0912 345 678
                    </p>
                    <p class="footer__contact-info">
                        <b>Email: </b>abc@gmail.com
                    </p>
                </div>
                <div class="footer__col-content">
                    <p class="footer__contact-info">
                        <b>Tổng biên tập: </b>Nguyễn Văn A
                    </p>
                    <p class="footer__contact-info">
                        <b>Phó Tổng biên tập: </b>Trần Thị B
                    </p>
                    <p class="footer__contact-info">
                        Chỉ được phát hành lại thông tin từ website này khi có sự đồng ý bằng văn bản của cơ quan chủ
                        quản.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>