<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/businessDetail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
    <title>Doanh Nghiệp - Bài viết ...</title>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-flex d-flex justify-content-between">
                    <h1 class="header__logo">
                        <a href="index.html"><img src="../image/header_logo.png" alt="logo" title="LOGO HERE"></a>
                    </h1>
                    <ul class="header__tags d-flex align-item-center">
                        <li><img src="../image/vector.png" class="vertical-align-middle" alt="thunder"></li>
                        <li><a href="#" title="# Biểu tình lan ra ở Mỹ"># Biểu tình lan ra ở Mỹ</a></li>
                        <li><a href="#" title="# Nhân sự, Đại hội Đảng các cấp"># Nhân sự, Đại hội Đảng các cấp</a></li>
                        <li><a href="#" title="# Dịch Covid19"># Dịch Covid19</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__navbar">
            <div class="container">
                <!-- before -->
                <div class="header__navbar-flex d-flex justify-content-between align-item-center">
                    <div class="main__navbar-menu d-flex text-uppercase">
                        <ul class="header__navbar-ul d-flex">
                            <li>
                                <a href="index.html" title="Trang chủ">
                                    <img src="../image/home.png" alt="home">
                                    Trang chủ
                                </a>
                            </li>
                            <li><a href="#" title="Sự kiện">Sự kiện</a></li>
                            <li><a href="business.html" class="main__navlink--active" title="Doanh nghiệp">Doanh
                                    nghiệp</a></li>
                            <li><a href="#" title="Tiếp thị">Tiếp thị</a></li>
                            <li><a href="#" title="Kinh tế">Kinh tế</a></li>
                            <li><a href="#" title="Xã hội">Xã hội</a></li>
                            <li><a href="#" title="Pháp luật">Pháp luật</a></li>
                            <li><a href="#" title="Quốc tế">Quốc tế</a></li>
                            <li><a href="#" title="Video">Video</a></li>
                        </ul>
                        <div class="header__navbar-search">
                            <a href="#"><img src="../image/search.png" class="vertical-align-middle" alt="search"
                                    title="Tìm kiếm"></a>
                        </div>
                    </div>
                    <div class="header__navbar-toggler">
                        <a href="#" title="Danh mục">
                            <img src="../image/toggler.png" class="menu-toggler" alt="toggler">
                            <img src="../image/x.png" class="menu-close" alt="close">
                        </a>
                    </div>
                </div>
                <!-- after -->
                <div id="menu__dropdown">
                    <div class="header__menu-dropdown">
                        <ul class="header__menu-category d-flex justify-content-between">
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Sự kiện">Sự kiện</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Chính trị - Xã hội">Chính trị - Xã hội</a></li>
                                    <li><a href="#" title="Cải cách hành chính">Cải cách hành chính</a></li>
                                    <li><a href="#" title="Tiêu điểm">Tiêu điểm</a></li>
                                    <li><a href="#" title="Tin địa phương">Tin địa phương</a></li>
                                    <li><a href="#" title="Hoạt động xã hội">Hoạt động xã hội</a></li>
                                </ul>
                            </li>
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Doanh nghiệp">Doanh
                                    nghiệp</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Diễn đàn">Diễn đàn</a></li>
                                    <li><a href="#" title="Thương hiệu">Thương hiệu</a></li>
                                    <li><a href="#" title="Trách nhiệm xã hội">Trách nhiệm xã hội</a></li>
                                    <li><a href="#" title="Thông tin thương hiệu">Thông tin thương hiệu</a></li>
                                    <li><a href="#" title="Khởi nghiệp">Khởi nghiệp</a></li>
                                </ul>
                            </li>
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Tiếp thị">Tiếp thị</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Nhịp đập thị trường">Nhịp đập thị trường</a></li>
                                    <li><a href="#" title="Tiếp thị số">Tiếp thị số</a></li>
                                    <li><a href="#" title="Dịch vụ">Dịch vụ</a></li>
                                    <li><a href="#" title="Bảo vệ người tiêu dùng">Bảo vệ ngườI tiêu dùng</a></li>
                                </ul>
                            </li>
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Kinh tế">Kinh tế</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Kinh doanh">Kinh doanh</a></li>
                                    <li><a href="#" title="Tài chính - Đầu tư">Tài chính - Đầu tư</a></li>
                                    <li><a href="#" title="Ngân hàng">Ngân hàng</a></li>
                                    <li><a href="#" title="Bất động sản">Bất động sản</a></li>
                                    <li><a href="#" title="Chứng khoán">Chứng khoán</a></li>
                                </ul>
                            </li>
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Xã hội">Xã hội</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Văn hoá">Văn hoá</a></li>
                                    <li><a href="#" title="Giáo dục">Giáo dục</a></li>
                                    <li><a href="#" title="Sức khoẻ">Sức khoẻ</a></li>
                                    <li><a href="#" title="Du lịch">Du lịch</a></li>
                                    <li><a href="#" title="Ẩm thực">Ẩm thực</a></li>
                                </ul>
                            </li>
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Pháp luật">Pháp luật</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Chính sách mới">Chính sách mới</a></li>
                                    <li><a href="#" title="Tiếp thị & Pháp luật">Tiếp thị & Pháp luật</a></li>
                                    <li><a href="#" title="Tư vấn">Tư vấn</a></li>
                                    <li><a href="#" title="Luật sư của bạn">Luật sư của bạn</a></li>
                                    <li><a href="#" title="Đơn thư bạn đọc">Đơn thư bạn đọc</a></li>
                                </ul>
                            </li>
                            <li class="header__menu-list">
                                <a href="#" class="text-uppercase dropdown-category" title="Quốc tế">Quốc tế</a>
                                <ul class="header__menu-list-title">
                                    <li><a href="#" title="Thế giới 24h">Thế giới 24h</a></li>
                                    <li><a href="#" title="Tư liệu">Tư liệu</a></li>
                                    <li><a href="#" title="Phân tích - Bình luận">Phân tích - Bình luận</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="header__option d-flex">
                            <li><a href="#" class="header__option-a d-flex align-item-center text-uppercase"
                                    title="Video">
                                    <img src="../image/videoRed.png" class="header__option-img" alt="video">
                                    <span>Video</span>
                                </a></li>
                            <li><a href="#" class="header__option-a d-flex align-item-center text-uppercase"
                                    title="Ảnh">
                                    <img src="../image/imageRed.png" class="header__option-img" alt="ảnh">
                                    <span>Ảnh</span>
                                </a></li>
                            <li><a href="#" class="header__option-a d-flex align-item-center text-uppercase"
                                    title="Infographic">
                                    <img src="../image/bsnRed.png" class="header__option-img" alt="infographic">
                                    <span>Infographic</span>
                                </a></li>
                            <li><a href="#" class="header__option-a d-flex align-item-center text-uppercase"
                                    title="Emagazine">
                                    <img src="../image/newsRed.png" class="header__option-img" alt="emagazine">
                                    <span>Emagazine</span>
                                </a></li>
                            <li><a href="#" class="header__option-a d-flex align-item-center text-uppercase"
                                    title="Tạp chí in">
                                    <img src="../image/newsppRed.png" class="header__option-img" alt="Tạp chí in">
                                    <span>Tạp chí in</span>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main -->
    <div class="main">
        <div class="container">
            <div class="main__marketing-news">
                <div class="main__aside-layout d-flex">
                    <div class="main__aside-layout-left">
                        <div class="main__news-main-title">
                            <h2 class="main__nm-h2">
                                <span class="main__highlight-news-title">Hội nghị tập huấn trực tuyến phòng, chống dịch
                                    COVID-19 tại các cơ sở khám chữa bệnh</span>
                            </h2>
                        </div>
                        <div class="main__news-info d-flex">
                            <a href="#" class="main__news-category-title text-uppercase" title="Doanh nghiệp">Doanh
                                nghiệp</a>
                            <span class="main__clock">
                                <img src="../image/clockcircle.png" class="img-clock-1" alt="clockcircle">
                                <img src="../image/clockwise.png" class="img-clock-2" alt="clockwise">
                            </span>
                            <div class="main__time">
                                <span>04:10 PM 21/02/2020</span>
                            </div>
                        </div>
                        <div class="main__news-brief">Tại Hà Nội, Bộ TT&TT đã tổ chức Hội nghị giao ban quản lý nhà nước
                            tháng 9 năm
                            2018. Ủy viên Trung ương Đảng, Bí thư Ban Cán sự Đảng, Quyền Bộ trưởng Bộ
                            TT&TT Nguyễn Mạnh Hùng đã chủ trì Hội nghị.
                        </div>
                        <div class="main__news-social d-flex">
                            <div class="main__news-social-button btn-like">
                                <a href="#" title="Thích">
                                    <span class="button-title">
                                        <span class="m-right">
                                            <img src="../image/like.png" alt="Like">
                                        </span>
                                        Thích
                                    </span>
                                </a>
                            </div>
                            <div class="main__news-social-button btn-share">
                                <a href="#" title="Chia sẻ">
                                    <span class="button-title">
                                        <span class="m-right">
                                            <img src="../image/Ellipse5.png" class="img-circle" alt="Circle">
                                            <img src="../image/facebook.png" class="img-facebook" alt="Facebook">
                                        </span>
                                        Chia sẻ
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="main__news-suggest">
                            <ul class="main__news-suggest-ul">
                                <li><a href="#"
                                        title="Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện">Hà
                                        Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện</a></li>
                                <li><a href="#"
                                        title="Nhiều khả năng Triệu Quân Sự đã trốn thoát khỏi đèo Hải Vân">Nhiều khả
                                        năng Triệu Quân Sự đã trốn thoát khỏi đèo Hải Vân</a></li>
                                <li><a href="#"
                                        title="Quảng Nam xây dựng chiến lược phát triển cho cây sâm Ngọc Linh">Quảng Nam
                                        xây dựng chiến lược phát triển cho cây sâm Ngọc Linh</a></li>
                            </ul>
                        </div>
                        <div class="main__news-detail">
                            <p class="main__news-detail-content">Hội nghị đã tập trung đánh giá những kết quả tích cực,
                                những tồn tại của
                                công tác quản
                                lý nhà nước trong tháng 9/2018, đồng thời đề ra các giải pháp, mục tiêu cần thực
                                hiện
                                trong tháng 10/2018; chú trọng thúc đẩy phát triển các lĩnh vực trong ngành, gồm 6
                                lĩnh
                                vực: Bưu chính, Viễn thông, CNTT, An toàn thông tin, Công nghiệp ICT, Báo chí
                                PTTH-Xuất
                                bản.
                            </p>
                            <p class="main__news-detail-content">
                                Tại Hội nghị, Quyền Bộ trưởng đã phân tích: Bộ phải xây dựng khung pháp lý cho từng
                                lĩnh vực do Chính phủ giao hoặc nằm trong kế hoạch của Bộ. Các cơ quan, đơn vị của
                                Bộ cần thường xuyên nắm bắt xem các đối tượng quản lý và người dân gặp khó khăn gì
                                và phải giải quyết những khó khăn, vướng mắc này ra sao.
                                <br>
                                Các văn bản pháp luật chính là công cụ để thúc đẩy các lĩnh vực quản lý nhà nước của
                                Bộ phát triển lành mạnh, Quyền Bộ trưởng nhấn mạnh.
                            </p>
                            <div class="main__news-detail-img">
                                <img src="../image/gold.png" alt="Ảnh minh hoạ">
                                <span class="img-caption justify-content-between">Ảnh minh họa. (Nguồn ĐSVN)</span>
                            </div>
                            <p class="main__news-detail-content">
                                Về mảng KHCN, tiêu chuẩn, công nghiệp CNTT, hiện Bộ Kế hoạch Đầu tư được Chính phủ
                                giao xây dựng Chiến lược quốc gia 4.0. Quyền Bộ trưởng giao Vụ KHCN là đầu mối về
                                4.0
                                và khẳng định Bộ TT&TT cần xây dựng phiên bản riêng về chiến lược 4.0 cho đất nước.
                                Vụ KHCN cần tham khảo kinh nghiệm quốc tế về 4.0 và tham khảo ý kiến của các Sở
                                TT&TT.
                            </p>
                            <p class="main__news-author">Hoàng Anh</p>
                            <br>
                        </div>
                        <div class="main__news-social social-bottom d-flex">
                            <div class="main__news-social-button2 btn-like">
                                <a href="#" title="Thích">
                                    <span class="button-title">
                                        <span class="m-right">
                                            <img src="../image/like.png" class="m-right" alt="Like">
                                        </span>
                                        Thích
                                    </span>
                                </a>
                            </div>
                            <div class="main__news-social-button2 btn-share">
                                <a href="#" title="Chia sẻ">
                                    <span class="button-title">
                                        <span class="m-right">
                                            <img src="../image/Ellipse5.png" class="img-circle" alt="Circle">
                                            <img src="../image/facebook.png" class="img-facebook" alt="Facebook">
                                        </span>
                                        Chia sẻ
                                    </span>
                                </a>
                            </div>
                            <div class="social-icon">
                                <div class="social-img">
                                    <a href="#" title="Twitter" class="social-icon-img">
                                        <img src="../image/ellipse.png" class="ellipse" alt="ellipse">
                                        <img src="../image/twitter.png" class="ellipse-twitter" alt="twitter">
                                    </a>
                                    <a href="#" title="Zingme" class="social-icon-img">
                                        <img src="../image/ellipse.png" class="ellipse" alt="ellipse">
                                        <img src="../image/zingme.png" class="ellipse-zingme" alt="zingme">
                                    </a>
                                    <a href="#" title="Gmail" class="social-icon-img">
                                        <img src="../image/ellipse.png" class="ellipse" alt="ellipse">
                                        <img src="../image/gmail.png" class="ellipse-gmail" alt="gmail">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="main__keyword">
                            <div class="d-flex main__keyword-list">
                                <strong>Từ khoá:</strong>
                                <a href="#" title="gây tiếng ồn vượt ngưỡng">&nbsp;gây tiếng ồn vượt ngưỡng, &nbsp;</a>
                                <a href="#" title="xả khói đen">xả khói đen, &nbsp;</a>
                                <a href="#" title="di dời khỏi nội đô">di rời khỏi nội đô, &nbsp;</a>
                                <a href="#" title="mùi hoá chất phân tán">mùi hoá chất phân tán</a>
                            </div>
                        </div>
                        <ul class="main__dots-list">
                            <li class="main__dots-list-item"></li>
                            <li class="main__dots-list-item"></li>
                            <li class="main__dots-list-item"></li>
                            <li class="main__dots-list-item"></li>
                            <li class="main__dots-list-item"></li>
                        </ul>
                        <div class="main__category-title-wrap d-flex">
                            <h3>
                                <span class="main__category-title-name text-uppercase"">Tin cùng chuyên mục</span>
                            </h3>
                        </div>
                        <div class=" main__col-3 d-flex justify-content-between flex-wrap">
                                    <div class="main__col-item">
                                        <a href="#" class="main__col-item-img"
                                            title="Quy hoạch băng tần cho hệ thống IMT... chưa phù hợp">
                                            <img src="../image/col1-item1.jpg"
                                                alt="Quy hoạch băng tần cho hệ thống di động IMT… chưa phù hợp">
                                        </a>
                                        <h3>
                                            <a href="#" class="main__col-item-title"
                                                title="Quy hoạch băng tần cho hệ thống IMT... chưa phù hợp">
                                                Quy hoạch băng tần cho hệ thống di động IMT… chưa phù hợp
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="main__col-item">
                                        <a href="#" class="main__col-item-img"
                                            title="Gam hồng thương mại điện tử trong dịch Covid-19">
                                            <img src="../image/col2-item1.jpg"
                                                alt="Gam hồng thương mại điện tử trong dịch Covid-19">
                                        </a>
                                        <h3>
                                            <a href="#" class="main__col-item-title"
                                                title="Gam hồng thương mại điện tử trong dịch Covid-19">
                                                Gam hồng thương mại điện tử trong dịch Covid-19
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="main__col-item">
                                        <a href="#" class="main__col-item-img"
                                            title="10 cách giúp doanh nghiệp làm việc hiệu quả trong Trạng thái &quot;bình thường mới&quot;">
                                            <img src="../image/col3-item1.jpg"
                                                alt="10 cách giúp doanh nghiệp làm việc hiệu quả trong Trạng thái &quot;bình thường mới&quot;">
                                        </a>
                                        <h3>
                                            <a href="#" class="main__col-item-title"
                                                title="10 cách giúp doanh nghiệp làm việc hiệu quả trong Trạng thái &quot;bình thường mới&quot;">
                                                10 cách giúp doanh nghiệp làm việc hiệu quả trong “Trạng thái bình
                                                thường mới”
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="main__col-item">
                                        <a href="#" class="main__col-item-img"
                                            title="Quy hoạch băng tần cho hệ thống IMT... chưa phù hợp">
                                            <img src="../image/col1-item2.jpg"
                                                alt="Quy hoạch băng tần cho hệ thống di động IMT… chưa phù hợp">
                                        </a>
                                        <h3>
                                            <a href="#" class="main__col-item-title"
                                                title="Quy hoạch băng tần cho hệ thống IMT... chưa phù hợp">
                                                Quy hoạch băng tần cho hệ thống di động IMT… chưa phù hợp
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="main__col-item">
                                        <a href="#" class="main__col-item-img"
                                            title="Gam hồng thương mại điện tử trong dịch Covid-19">
                                            <img src="../image/col2-item2.jpg"
                                                alt="Gam hồng thương mại điện tử trong dịch Covid-19">
                                        </a>
                                        <h3>
                                            <a href="#" class="main__col-item-title"
                                                title="Gam hồng thương mại điện tử trong dịch Covid-19">
                                                Gam hồng thương mại điện tử trong dịch Covid-19
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="main__col-item">
                                        <a href="#" class="main__col-item-img"
                                            title="10 cách giúp doanh nghiệp làm việc hiệu quả trong Trạng thái &quot;bình thường mới&quot;">
                                            <img src="../image/col3-item2.jpg"
                                                alt="10 cách giúp doanh nghiệp làm việc hiệu quả trong “Trạng thái &quot;bình thường mới&quot;”">
                                        </a>
                                        <h3>
                                            <a href="#" class="main__col-item-title"
                                                title="10 cách giúp doanh nghiệp làm việc hiệu quả trong Trạng thái &quot;bình thường mới&quot;">
                                                10 cách giúp doanh nghiệp làm việc hiệu quả trong “Trạng thái bình
                                                thường mới”
                                            </a>
                                        </h3>
                                    </div>
                        </div>
                        <div class="main__category-title-wrap d-flex">
                            <h3>
                                <span class="main__category-title-name text-uppercase"">Tin nổi bật</span>
                            </h3>
                        </div>
                        <div class=" main__aside-leftcorner d-flex">
                                    <div class="main__highlight-news">
                                        <a href="#" class="main__hl-news-img">
                                            <img src="../image/hightlight-news.jpg"
                                                alt="Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện &quot;bình thường mới&quot;">
                                        </a>
                                        <h2 class="main__hl-h2"><a href="#" class="main__highlight-news-title"
                                                title="Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện &quot;bình thường mới&quot;">
                                                Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện
                                                "bình
                                                thường
                                                mới"
                                            </a></h2>
                                        <a href="#" class="main__news-content-des">Đêm ngày 6/3, Ban chỉ đạo phòng chống
                                            dịch
                                            Covid-19 Hà
                                            Nội triệu
                                            tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc liên quan đến dịch
                                            Covid-19.
                                            Cuộc họp đã
                                            công bố xác nhận thêm</a>
                                    </div>
                                    <div class="main__news-left-rightcorner">
                                        <div class="main__news-rightcorner">
                                            <a href="#" class="main__news-rightcorner-1"
                                            title="Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện &quot;bình thường mới&quot;">
                                            <img src="../image/rightcorner.png" alt="">
                                            Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện "bình
                                            thường
                                            mới"
                                        </a>
                                        </div>
                                        <div class="main__news-rightcorner">
                                            <a href="#" class="main__news-rightcorner-2"
                                            title="Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện &quot;bình thường mới&quot;">Hà
                                            Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện "bình
                                            thường
                                            mới"</a>
                                        </div>
                                        <div class="main__news-rightcorner">
                                            <a href="#" class="main__news-rightcorner-2"
                                            title="Hà Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện &quot;bình thường mới&quot;">Hà
                                            Nội thúc đẩy quan hệ thương mại đầu tư với Nhật Bản trong điều kiện "bình
                                            thường
                                            mới"</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="main__category-title-wrap border-top d-flex">
                            <h3>
                                <span class="main__category-title-name text-uppercase"">Đọc thêm</span>
                            </h3>
                        </div>
                        <div class=" main__news-listing">
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                <img src="../image/list1.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh
                                                    chóng?</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Giảm 50% phí trước bạ ô tô: Xe sang có giá lăn bánh giảm &quot;khủng&quot;">
                                                <img src="../image/list2.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Giảm 50% phí trước bạ ô tô: Xe sang có giá lăn bánh giảm &quot;khủng&quot;">
                                                    <img src="../image/infographic1.png" alt="infographic">
                                                    Giảm 50% phí trước bạ ô tô: Xe sang có giá lăn bánh giảm "khủng"</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                <img src="../image/list3.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh
                                                    chóng?</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Doanh nghiệp bất động sản ảnh hưởng ra sao bởi dịch Covid 19?">
                                                <img src="../image/list4.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Doanh nghiệp bất động sản ảnh hưởng ra sao bởi dịch Covid 19?</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Doanh nghiệp">Doanh
                                                nghiệp</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                <img src="../image/list1.jpg"
                                                    alt="Bắc Kạn: Doanh nghiệp đề xuất nhiều giải pháp vượt khó hậu COVID-19">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Bắc Kạn: Doanh nghiệp đề xuất nhiều pháp vượt khó hậu COVID-19</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Quy hoạch băng tần cho hệ thống di động IMT… chưa phù hợp">
                                                <img src="../image/list1.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Quy hoạch băng tần cho hệ thống di động IMT… chưa phù hợp</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Quảng Nam xây dựng chiến lược phát triển cho cây sâm Ngọc Linh và các dược liệu">
                                                <img src="../image/list1.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Quảng Nam xây dựng chiến lược phát triển cho cây sâm Ngọc Linh và
                                                    các dược liệu</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#" title="&quot;Lấy cung làm chủ đạo và đẩy mạnh cầu
                                        của nền kinh tế&quot;: Hiểu sao cho đúng?">
                                                <img src="../image/list2.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Giảm 50% phí trước bạ ô tô: Xe sang có giá lăn bánh giảm &quot;khủng&quot;">
                                                    “Lấy cung làm chủ đạo và đẩy mạnh cầu của nền kinh tế”: Hiểu sao cho
                                                    đúng?</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Xã hội">Xã hội</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                <img src="../image/list3.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Có 1 tỷ đồng nên đầu tư vào phân khúc
                                                    BĐS nào để sinh lời nhanh chóng?</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Kinh tế">Kinh tế</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__news-listing-item d-flex">
                                        <div class="main__news-item-img">
                                            <a href="#"
                                                title="Doanh nghiệp bất động sản ảnh hưởng ra sao bởi dịch Covid 19?">
                                                <img src="../image/list4.jpg" alt="Có 1 tỷ đồng nên đầu tư vào phân khúc
                                    BĐS nào để sinh lời nhanh chóng?">
                                            </a>
                                        </div>
                                        <div class="main__news-item-content">
                                            <h3>
                                                <a href="#" class="main__news-item-title"
                                                    title="Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh chóng?">
                                                    Doanh nghiệp bất động sản ảnh hưởng ra sao bởi dịch Covid 19?</a>
                                            </h3>
                                            <a href="#" class="main__news-category-list" title="Doanh nghiệp">Doanh
                                                nghiệp</a>
                                            <p class="main__news-item-detail">Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch
                                                Covid-19
                                                Hà Nội triệu tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc
                                                liên quan
                                                đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm</p>
                                        </div>
                                    </div>
                                    <div class="main__viewmore-wrap">
                                        <a href="#" class="main__viewmore-btn d-flex align-item-center"
                                            title="Xem thêm">Xem
                                            thêm
                                            &nbsp; <img src="../image/arrow_down.png" alt="#"></a>
                                    </div>
                        </div>
                    </div>
                    <div class="main__aside-layout-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="main__navbar-menu d-flex text-uppercase">
                <ul class="header__navbar-ul d-flex">
                    <li>
                        <a href="index.html" class="main__navlink--active">
                            <img src="../image/home.png" alt="home">
                            Trang chủ
                        </a>
                    </li>
                    <li><a href="#">Sự kiện</a></li>
                    <li><a href="business.html">Doanh nghiệp</a></li>
                    <li><a href="#">Tiếp thị</a></li>
                    <li><a href="#">Kinh tế</a></li>
                    <li><a href="#">Xã hội</a></li>
                    <li><a href="#">Pháp luật</a></li>
                    <li><a href="#">Quốc tế</a></li>
                    <li><a href="#">Video</a></li>
                </ul>
                <div class="header__navbar-search">
                    <a href=""><img src="../image/search.png" class="vertical-align-middle" alt="search"></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer__page"></div>
        <div class="footer__main-flex">
            <div class="container d-flex">
                <div class="footer__logo footer__col-content">
                    <img src="../image/footer_logo.png" alt="Logo">
                </div>
                <div class="footer__col-content">
                    <h3 class="footer__contact">
                        Logo Here Newspaper
                    </h3>
                    <p class="footer__contact-info">
                        <b>Địa chỉ: </b>85 Vũ Trọng Phụng, Thanh Xuân, Hà Nội
                    </p>
                    <p class="footer__contact-info">
                        <b>Hotline: </b>0912 345 678
                    </p>
                    <p class="footer__contact-info">
                        <b>Email: </b>abc@gmail.com
                    </p>
                </div>
                <div class="footer__col-content">
                    <p class="footer__contact-info">
                        <b>Tổng biên tập: </b>Nguyễn Văn A
                    </p>
                    <p class="footer__contact-info">
                        <b>Phó Tổng biên tập: </b>Trần Thị B
                    </p>
                    <p class="footer__contact-info">
                        Chỉ được phát hành lại thông tin từ website này khi có sự đồng ý bằng văn bản của cơ quan
                        chủ
                        quản.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>